{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 col-md-8 mx-auto">
            <div class="text-center">
                <img src="{{url_for('static', filename='home.png')}}"
                    style="max-width: 250px; height: auto; border-radius: 25px; box-shadow: 0 0 10px rgb(200,200,200);">
            </div>
            <h1 class="my-2 text-center paws_other">Store Sales Decision System</h1>
            <h4 class="text-center">Sales Log</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <form method="POST">
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.hidden_tag()}}
                    </div>
                    <div class="col-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.index.label}}
                    </div>
                    <div class="col-8">
                        {{form.index(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.item_code.label}}
                    </div>
                    <div class="col-8">
                        <SELECT name="item_code" class="col-12 input">
                            {% for i in items %}
                            <OPTION value={{ i.item_code }}>{{i.item_code.upper()}}</OPTION>
                            {% endfor %}
                        </SELECT>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.emp_id.label}}
                    </div>
                    <div class="col-8">
                        <SELECT name="emp_id" class="col-12 input">
                            {% for i in emps %}
                            <OPTION value={{ i.emp_id }}>{{i.emp_name}}</OPTION>
                            {% endfor %}
                        </SELECT>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.attribute.label}}
                    </div>
                    <div class="col-8">
                        <SELECT name="attribute" class="col-12 input">
                            {% set attr_list = [] %}
                            {% for i in attr if i.attribute not in attr_list %}
                            <OPTION value={{ i.attribute }}>{{ i.attribute.upper() }}</OPTION>
                            {% set attr_list = attr_list.append(i.attribute) %}
                            {% endfor %}
                        </SELECT>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.year.label}}
                    </div>
                    <div class="col-8">
                        {{form.year(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.value.label}}
                    </div>
                    <div class="col-8">
                        {{form.value(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        {{form.submit(class="mt-4 col-3 btn btn-primary")}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}